/*
  Copyright Jim Carty © 2020

  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
*/

.mainbody {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}

.btn-sm {
  border-radius: 7px;
}

.buttontoolbar {
  padding-bottom: 10px;
}

p.alertbody {
  margin-bottom: 0px;
}

.code-area {
  width: 100%;
  height: 500px;
  color: rgb(0, 25, 58);
  background-color: #eaeef3;
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: #eaeef3;
  font-family: 'Fira Code', monospace;
  font-size: 15px;
  font-weight: normal;
  line-height: 25px;
  outline: none;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;

  display: flex;
  flex-direction: row;
}


.breakpoint-column {
  position: absolute;
  width: 15px;
  height: 100%;
  font-family: inherit;
  font-weight: inherit;
  background: #eaeef3;
  float: left;
  display: block;
  z-index: 2;
  margin-top: -5px;
}

.breakpoint-column .breakpoint {
  position: absolute;
  background: #eaeef3;
  border: 2px solid rgb(0, 25, 58);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  cursor: pointer;
  left: 6px;
  transform: translateX(-50%) translateY(-50%);
}

.breakpoint-column .breakpoint.active {
  background: rgb(0, 25, 58);
}

.breakpoint-column .breakpoint.error {
  border-radius: 0%;
  border: 2px solid rgb(255, 0, 0);
}

.breakpoint-column .breakpoint.active.error {
  background: rgb(255, 0, 0);
}


.CodeMirror {
  height: 100% !important;
}

.ReactCodeMirror {
  width: 100%;

  position: relative;

  overflow-x: auto;
  overflow-y: hidden;
}

.line-number-column {
  position: relative;
  font-family: inherit;
  background: #eaeef3;
  text-align: right;
  float: left;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding-top: 4px;
  color: rgb(153, 153, 153);
  border-left: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  box-sizing: border-box;
  margin-left: 15px;
}

.line-number-column .line-number {
  padding-left: 5px;
  padding-right: 3px;
  box-sizing: content-box;
}

.code-chunk-column {
  border-color: white;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  resize: none;
  outline: none;

  font-family: inherit;
  background-color: white;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  white-space: pre;

  overflow-x: auto;
  overflow-y: hidden;

  border: 0px;

  -moz-tab-size : 2;
  -o-tab-size : 2;
  tab-size : 2;
}


.input-modal-column {
  float: none;
  box-sizing: border-box;
  border-radius: 7px;
  border-width: 5px;
  border-style: solid;
  border-color: #eaeef3;
  background-color: #eaeef3;
  height: 150px;
}

.input-modal-input {
  height: 100%;
  width: 100%;
  font-family: 'Fira Code', monospace;
  resize: none;
  border-radius: 7px;
  border-width: 5px;
  border-color: white;
  white-space: pre;
  outline: none;
  color: black;
  border-style: solid;
}


.modal-content {
  border-radius: 7px;
}

.runmodal-left-col {
  border-right: 2px solid #eaeef3;
}

.control-column {
  overflow: hidden;
  margin: 0px auto;
  width: 100%;
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: #eaeef3;
  background-color: #eaeef3;
  margin-bottom: 15px;
}

.register-column {
  overflow-x: hidden;
  float: none;
  margin: 0px auto;
  width: 100%;
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: #eaeef3;
  background-color: #eaeef3;
}

.output-column {
  margin: 0px auto;
  width: 100%;
  height: 82px;
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: #eaeef3;
  background-color: #eaeef3;
}

.output-column .output-area {
  height: 100%;
  width: 100%;
  font-family: 'Fira Code', monospace;
  resize: none;
  border-radius: 7px;
  border-width: 5px;
  border-color: white;
  white-space: pre;
  background: white;
  color: black;
  border-style: solid;
}

.memory-column.big {
  float: none;
  margin: 0px auto;
  width: 100%;
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: #eaeef3;
  background-color: #eaeef3;
  overflow-x: hidden;
  margin-bottom: 15px;

  height: 465px;
  font-size: inherit;
}

.memory-column.small {
  float: none;
  margin: 0px auto;
  width: 100%;
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: #eaeef3;
  background-color: #eaeef3;
  overflow-x: hidden;
  margin-bottom: 15px;

  height: 394px;
  font-size: inherit;
}

.systeminfo-column-elem {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Fira Code', monospace;
}