/*
  Copyright Jim Carty © 2020

  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
*/

.light {
  --bg : white;
  --text : black;

  --buttoncolour : #6c757d;
  --buttoncolourhover : #3e4347;

  --tabletext : #212529;
  --tablehoverfill : rgba( 0, 0, 0, .075 );

  --selectbghover: rgba( 0, 0, 255, 0.05 );

  --info1 : #eaeef3;
  --info2 : #d8e0e9;
  --info3 : #c4d0de;
  --info4 : #aabbcf;

  --bpcolor: #00193a; 

  --linenumbers: #eaeef3;
  --linenumberscolor : rgb( 158, 158, 158 );

  --inputbg: #e9ecef;
  --inputtext: #495057;

  --alertsuccesscol: #155724;
  --alertsuccessbg: #d4edda;
  --alertsuccessborder: #c3e6cb;

  --alertwarningcol: #856404;
  --alertwarningbg: #fff3cd;
  --alertwarningborder: #ffeeba;

  --alertdangercol: #721c24;
  --alertdangerbg: #f8d7da;
  --alertdangerborder: #f5c6cb;

  --buttonoutlinesecondarycol: #6c757d;
  --buttonoutlinesecondaryborder: #6c757d;
}

.dark {
  --bg : #181a1b;
  --text : #e8e6e3;

  --buttoncolour : #6c757d;
  --buttoncolourhover : #a2a9ae;

  --tabletext : #d5d9dd;
  --tablehoverfill : rgba( 255, 255, 255, .075 );

  --selectbghover: rgba( 0, 0, 255, 0.15 );

  --info1 : #0b0f13;
  --info2 : #1a242d;
  --info3 : #253341;
  --info4 : #384c61;

  --bpcolor : #c7dfff;

  --linenumbers: #282a36;
  --linenumberscolor : #6D8A88;

  --inputbg: #262e36;
  --inputtext: #a9b0b7;

  --alertsuccesscol: rgb(153, 230, 171);
  --alertsuccessbg: rgb(26, 62, 41);
  --alertsuccessborder: rgb(63, 154, 85);

  --alertwarningcol: rgb(251, 215, 112);
  --alertwarningbg: rgb(81, 62, 0);
  --alertwarningborder: rgb(218, 163, 0);

  --alertdangercol: rgb(225, 134, 143);
  --alertdangerbg: rgb(67, 12, 17);
  --alertdangerborder: rgb(186, 32, 48);

  --buttonoutlinesecondarycol: rgb(158, 150, 137);
  --buttonoutlinesecondaryborder: rgb(102, 94, 83);
}

body {
  background-color: var( --bg );
  color: var( --text );
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: var( --info1 );
  padding: 5px;
  border-radius: 7px;
}

table {
  color: var( --tabletext ) !important;
}

tr:hover {
  color: var( --tabletext ) !important;
  background-color: var( --tablehoverfill ) !important;
}

pre {
  color: inherit;
}

.nav-link.nav-link {
  color: blue;
  background-color: var( --info1 );
  border-color: var( --info1 ) var( --info1 ) var( --bg );
}

.nav-link.nav-link:hover {
  border-color: var( --bg ) var( --bg ) var( --bg );
}

.nav-link.nav-link.active {
  color: var( --text );
  background-color: var( --bg );
  border-color: var( --info1 ) var( --info1 ) var( --bg );
}

.alertlink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.alert-success {
  color: var( --alertsuccesscol );
  background-color: var( --alertsuccessbg );
  border-color: var( --alertsuccessborder );
}

.alert-warning {
  color: var( --alertwarningcol );
  background-color: var( --alertwarningbg );
  border-color: var( --alertwarningborder );
}

.alert-danger {
  color: var( --alertdangercol );
  background-color: var( --alertdangerbg );
  border-color: var( --alertdangerborder );
}

.btn-outline-secondary {
  color: var( --buttonoutlinesecondarycol );
  border-color: var( --buttonoutlinesecondaryborder );
}

.dark-mode-container {
  position: absolute;
  top: 13px;
  right: 0;
  /*-ms-transform: translateY(-50%);*/
  /*transform: translateY(-50%);*/
}

.switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 21px;
  top: 2px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 7px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  border-radius: 7px;
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.mainbody {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}

.btn-sm {
  border-radius: 7px;
}

.buttontoolbar {
  padding-bottom: 10px;
}

p.alertbody {
  margin-bottom: 0px;
}

.documentation-page-link.disabled {
  color: grey;
}

.documentation-page-link {
  color: blue;
}

.documentation-page-link.disabled:hover {
  color: grey;
  text-decoration: none;
  cursor: default;
}

.documentation-page-link:hover {
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}

.code-area {
  width: 100%;
  max-height: calc( 100vh - 120px);
  background-color: var( --info1 );
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: var( --info1 );
  font-family: 'Fira Code', monospace;
  font-size: 15px;
  font-weight: normal;
  line-height: 25px;
  outline: none;
  overflow: auto;
  white-space: nowrap;
  position: relative;

  display: flex;
  flex-direction: row;
}

.code-area.squished {
  max-height: calc( 100vh - 187px);
}


.breakpoint-column {
  position: relative;
  min-width: 15px;
  height: 100%;
  font-family: inherit;
  font-weight: inherit;
  background: var( --info1 );
  float: left;
  display: block;
  z-index: 2;
  margin-top: -5px;
}

.breakpoint-column .breakpoint {
  position: absolute;
  background: var( --info1 );
  border: 2px solid var( --bpcolor );
  width: 8px;
  height: 8px;
  border-radius: 100%;
  cursor: pointer;
  left: 6px;
  transform: translateX(-50%) translateY(-50%);
}

.breakpoint-column .breakpoint.active {
  background: var( --bpcolor );
}

.breakpoint-column .breakpoint.error {
  border-radius: 0%;
  border: 2px solid rgb(255, 0, 0);
}

.breakpoint-column .breakpoint.active.error {
  background: rgb(255, 0, 0);
}


.CodeMirror {
  height: 100% !important;
}

.react-codemirror2 {
  width: 100%;

  position: relative;

  overflow-x: auto;
  overflow-y: hidden;

  height: fit-content;
}

@-moz-document url-prefix() {
  .react-codemirror2 {
    height: -moz-fit-content;
  }
}

.CodeMirror-gutters {
  font-family: inherit;
  background: var( --linenumbers ) !important;
  text-align: right;
  float: left;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: rgb(153, 153, 153);
  border-right: 1px solid rgb(221, 221, 221) !important;
  box-sizing: border-box;
  height: fit-content;
}

.CodeMirror-linenumber.CodeMirror-gutter-elt {
  padding-left: 5px;
  padding-right: 3px;
  box-sizing: content-box;
  cursor: pointer;

  color: var( --linenumberscolor );
}

.line-numbers-column {
  border-right: 1px solid rgb(221, 221, 221);
  height: max-content;
  padding-top: 5px;
  padding-bottom: 3px;

  background-color: var( --linenumbers );
}

.line-numbers-column .line-number {
  padding: 0 3px 0 6px;
  min-width: 20px;
  text-align: right;
  color: var( --linenumberscolor );
  white-space: nowrap;
  cursor: pointer;
}

.code-chunk-column {
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  resize: none;
  outline: none;

  font-family: inherit;
  background-color: white;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  white-space: pre;

  overflow-x: auto;
  overflow-y: hidden;

  -moz-tab-size : 2;
  -o-tab-size : 2;
  tab-size : 2;
}


.input-modal-column {
  float: none;
  box-sizing: border-box;
  border-radius: 7px;
  border-width: 5px;
  border-style: solid;
  border-color: var( --info1 );
  background-color: var( --info1 );
  height: 150px;
}

.input-modal-input {
  height: 100%;
  width: 100%;
  font-family: 'Fira Code', monospace;
  resize: none;
  border-radius: 7px;
  border-width: 5px;
  border-color: var( --bg );
  background-color: var( --bg );
  white-space: pre;
  outline: none;
  color: var( --text );
  border-style: solid;
}


.modal-content {
  border-radius: 7px;
  background-color: var( --bg);
}

button.close {
  color: var( --text );
}

button.close:hover {
  color: var( --text );
}

.runmodal-left-col {
  border-right: 2px solid #eaeef3;
}

.control-column {
  overflow: hidden;
  margin: 0px auto;
  width: 100%;
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: var( --info1 );
  background-color: var( --info1 );
  color: var( --text );
  margin-bottom: 15px;
}

.register-column {
  overflow-x: hidden;
  float: none;
  margin: 0px auto;
  width: 100%;
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: var( --info1 );
  background-color: var( --info1 );
  color: var( --text );
}

.output-column {
  margin: 0px auto;
  width: 100%;
  height: fit-content;
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: var( --info1 );
  background-color: var( --info1 );
  color: var( --text );
  display: grid;
}

@-moz-document url-prefix() {
  .output-column {
    height: -moz-fit-content;
  }
}

.output-column .output-area {
  height: 72px;
  max-width: 100%;
  font-family: 'Fira Code', monospace;
  resize: none;
  border-radius: 7px;
  border-width: 5px;
  border-color: white;
  white-space: pre;
  border-color: var( --bg );
  background-color: var( --bg );
  color: var( --text );
  border-style: solid;
  overflow: scroll;
}

.output-column .output-area.debug {
  height: calc( 12vh - 10px );
}

.memory-column.big {
  float: none;
  margin: 0px auto;
  width: 100%;
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: var( --info1 );
  background-color: var( --info1 );
  color: var( --text );
  overflow-x: hidden;
  margin-bottom: 15px;

  min-height: 463px;
  height: calc( 100vh - 152px - 12vh );
  font-size: inherit;
}

.memory-column.small {
  float: none;
  margin: 0px auto;
  width: 100%;
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: var( --info1 );
  background-color: var( --info1 );
  color: var( --text );
  overflow-x: hidden;
  margin-bottom: 15px;

  height: 394px;
  font-size: inherit;
}

.memory-search {
  float: none;
  position: absolute;
  width: calc( 100% - 40px );
  background-color: var( --bg );
  border-radius: 7px;
  /* padding: 5px; */
  left: 50%;
  height: 25px;
  z-index: 2;
  left: 50%;
  transform: translate( -50%, 0 );
}

.dropdown-menu.show {
  max-height: 364px;
  border-radius: 7px;
  overflow-y: scroll;
  left: 50% !important;
  top: 25px !important;
  transform: translate( -50%, 0 ) !important;
  border-color: var( --info1 );
  background-color: var( --info1 );
  color: var( --text );
}

.dropdown-item {
  color: var( --text );
}

.dropdown-item:active {
  color: var( --text );
  background-color: blue;
}

.dropdown-item:hover {
  color: var( --text );
  background-color: var( --selectbghover );
  text-decoration: none;
}

ul.list-unstyled {
  margin-block-end: 0;
}

.systeminfo-column-elem {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Fira Code', monospace;
}