.code-area {
  width: 100%;
  height: 500px;
  color: rgb(0, 25, 58);
  background-color: #eaeef3;
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: #eaeef3;
  font-family: 'Fira Code', monospace;
  font-size: 15px;
  font-weight: normal;
  line-height: 25px;
  outline: none;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;

  display: flex;
  flex-direction: row;
}


.breakpoint-column {
  position: relative;
  width: 16px;
  height: 100%;
  font-family: inherit;
  font-weight: inherit;
  background: #eaeef3;
  border-right: 1px solid rgb(221, 221, 221);
  float: left;
}

.breakpoint-column .breakpoint {
  position: absolute;
  background: #eaeef3;
  border: 2px solid rgb(0, 25, 58);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  cursor: pointer;
  left: 6px;
  transform: translateX(-50%) translateY(-50%);
}

.breakpoint-column .breakpoint.active {
  background: rgb(0, 25, 58);
}

.breakpoint-column .breakpoint.error {
  border: 2px solid rgb(255, 0, 0);
}

.breakpoint-column .breakpoint.active.error {
  background: rgb(255, 0, 0);
}


.CodeMirror {
  height: 100% !important;
}

.ReactCodeMirror {
  width: 100% !important;

  overflow-x: auto;
  overflow-y: hidden;
}

.line-number-column {
  float: left;
  position: relative;
  font-family: inherit;
  background: #eaeef3;
  text-align: right;
  float: left;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding-top: 4px;
  color: rgb(153, 153, 153);
  border-right: 1px solid rgb(221, 221, 221);
  box-sizing: border-box;
}

.line-number-column .line-number {
  padding-left: 5px;
  padding-right: 3px;
  box-sizing: content-box;
}

.code-chunk-column {
  border-color: white;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 4px;
  resize: none;
  outline: none;

  font-family: inherit;
  background-color: white;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  white-space: pre;

  overflow-x: auto;
  overflow-y: hidden;
}



.modal-content {
  border-radius: 7px;
}

.runmodal-left-col {
  border-right: 2px solid #eaeef3;
}

.control-column {
  margin: 0px auto;
  width: 100%;
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: #eaeef3;
  background-color: #eaeef3;
  margin-bottom: 15px;
}

.register-column {
  float: none;
  margin: 0px auto;
  width: 100%;
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: #eaeef3;
  background-color: #eaeef3;
}

.output-column {
  margin: 0px auto;
  width: 100%;
  height: 82px;
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: #eaeef3;
  background-color: #eaeef3;
}

.output-column .output-area {
  height: 100%;
  width: 100%;
  font-family: 'Fira Code', monospace;
  resize: none;
  border-radius: 7px;
  border-width: 5px;
  border-color: white;
  white-space: pre;
}

.memory-column {
  float: none;
  margin: 0px auto;
  width: 100%;
  height: 394px;
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: #eaeef3;
  background-color: #eaeef3;
  overflow: auto;
  margin-bottom: 15px;
}

.systeminfo-column-elem {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Fira Code', monospace;
}