/*
  Copyright Jim Carty © 2020

  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
*/

.css-1layoqn-control {
  background-color: var( --bg ) !important;
  border-color : var( --buttoncolour ) !important;
}

.css-15habef-control {
  background-color: var( --bg ) !important;
  border-color : var( --buttoncolour ) !important;
}

.css-1okebmr-indicatorSeparator {
  background-color : var( --buttoncolour ) !important;
}

.css-1gtu0rj-indicatorContainer:hover {
  color : var( --buttoncolourhover ) !important;
}

.css-tlfecz-indicatorContainer {
  color : var( --buttoncolour ) !important;
}

.css-1uccc91-singleValue {
  color : var( --text ) !important;
}

.css-1wa3eu0-placeholder {
  color : var( --text ) !important;
}

.css-b8ldur-Input {
  color : var( --text ) !important;
}

.css-1m2ow1o-menu {
  background-color: var( --bg ) !important;
  color : var( --text ) !important;
}

.css-yt9ioa-option {
  background-color: var( --bg ) !important;
  color : var( --text ) !important;
}

.css-1n7v3ny-option {
  background-color: var( --selectbghover ) !important;
  color : var( --text ) !important;
}

.css-gg45go-NoOptionsMessage {
  color : var( --text ) !important;
}

.btn-md {
  border-radius: 7px;
}

.info-field {
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  outline: none;

  margin-top: 7px;

  display: flex;
  flex-direction: column;
}

.info-title {
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  outline: none;


  border: 5px;
  border-radius: 7px;

  -moz-tab-size : 2;
  -o-tab-size : 2;
  tab-size : 2;
}

.info-body {
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;

  font-weight: normal;
  line-height: 25px;

  border: 5px;
  border-radius: 7px;

  -moz-tab-size : 2;
  -o-tab-size : 2;
  tab-size : 2;
}

.info-body .table-sm {
  white-space: break-spaces;
}

.machine-code-template {
  background-color: var( --info1 );
  line-height: normal;
  color: var( --text );
}


.info-field.depth1 {
  border-color: var( --info1 );
  background-color: var( --info1 );
}

.info-field.depth2 {
  border-color: var( --info2 );
  background-color: var( --info2 ); 
}

.info-field.depth3 {
  border-color: var( --info3 );
  background-color: var( --info3 );
}

.info-field.depth4 {
  border-color: var( --info4 );
  background-color: var( --info4 );
}


.info-title.depth1 {
  border-color: var( --info1 );
  background-color: var( --info1 );
}

.info-title.depth2 {
  border-color: var( --info2 );
  background-color: var( --info2 );
}

.info-title.depth3 {
  border-color: var( --info3 );
  background-color: var( --info3 );
}

.info-title.depth4 {
  border-color: var( --info4 );
  background-color: var( --info4 );
}


.info-body.white {
  background-color: var( --bg );
}