/*
  Copyright Jim Carty © 2020

  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
*/

.download-modal-column {
  float: none;
  box-sizing: border-box;
  border-radius: 7px;
  border-width: 5px;
  border-style: solid;
  border-color: var( --info1 );
  background-color: var( --info1 );
  height: unset;
}

#download-modal-download {
  color: var( --text );
  background-color: var( --bg );
  border-color: var( --bg );
}

.input-group-text {
  color: var( --inputtext );
  background-color: var( --inputbg );
  border-color: var( --inputbg );
}

.breakpoint-column .breakpoint.compwarn {
  width: 0px;
  height: 0px;
  border-top: 4px solid transparent;
  border-left: 8px solid orange;
  border-bottom: 4px solid transparent;
  border-right: 0px;
  border-radius: 0px;
}

.breakpoint-column .breakpoint.comperror {
  width: 0px;
  height: 0px;
  border-top: 4px solid transparent;
  border-left: 8px solid red;
  border-bottom: 4px solid transparent;
  border-radius: 0px;
  border-right: 0px;
}