/*
  Copyright Jim Carty © 2020

  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
*/

.systeminfo-column-elem.changed {
  color : darkorange;
}

.systeminfo-column-elem.active {
  color : green;
}

.systeminfo-column-elem.last {
  color : blue;
}

.code-area.viewing {
  height: auto;
  max-height: calc( 100vh - 137px );
  overflow-y: auto; 
  overflow-x: hidden; 
}

.code-area-wrapper {
  width : 100% !important;
  display: table;
  position: relative;
}

.ReactCodeMirror.debug {
  width: unset;
  position: relative;
  display: grid;
  overflow-x: auto;
  overflow-y: hidden;
}

.code-chunk-column.viewing {
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  color: black;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

.line-overlay {
  pointer-events: none;
  width: 100%;
  box-sizing: border-box;
  height: 25px;
  position: absolute;
  opacity: 0.25;
}

.line-overlay.active {
  z-index: 2;
  background: green;
}

.line-overlay.last {
  z-index: 3;
  background: blue;
}

.output-column.viewing {
  min-height: 82px;
  height: 12vh;
}

.input-column.viewing {
  width: 100%;
  min-height: 56px;
  height: calc( 100vh - 643px );
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: #eaeef3;
  background-color: #eaeef3;
  margin: 15px 0 0;
}

.input-column .input-area {
  height: 100%;
  width: 100%;
  font-family: 'Fira Code', monospace;
  resize: none;
  border-radius: 7px;
  border-width: 5px;
  border-color: white;
  white-space: pre;
  background: white;
  color: black;
  border-style: solid;
}