.buttonstoolbar {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-sm {
  border-radius: 7px;
}

.mainbody {
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

p.alertbody {
  margin-bottom: 0px;
}